@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans+KR:wght@100;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-black: black;
  --color-gray-100: #eee;
  --color-gray-200: lightgray;
  --color-gray-300: rgb(114, 111, 111);
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.status-bar.reels-header-area {
  background-color: black;
}

.ico-wishlist {
  padding-right: 30px;
}

.shop-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
}

.header-area .status-bar {
  left: 0px;
  right: 0px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  z-index: 5000;
}

.header-area .status-bar .status-bar_left {
  margin-top: 15px;
  margin-left: 25px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-area .status-bar .status-bar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25px;
}

.header-area .status-bar .status-bar_right .ico-right {
  width: 100%;
  padding-left: 3px;
  font-size: large;
}

.header-area .status-bar .status-bar_right .ico-net {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header-area .status-bar .status-bar_right .ico-wifi {
  font-size: 25px;
}

.header-area .status-bar .status-bar_right .ico-battery {
  font-size: 25px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.header-area .app-bar {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 38px 20px 5px;
  background-color: var(--color-white);
  z-index: 4999;
}

.header-area .app-bar .header-title {
  font-size: 25px;
}

.header-area .app-bar .logo {
  font-family: 'Cookie', cursive, 'Noto Sans KR', sans-serif;
  font-size: 38px;
}

.header-area .app-bar .active-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  font-size: 22px;
  -webkit-text-stroke: 0.4px;
}

.header-area .app-bar .active-bar .ico-logo {
  padding-left: 25px;
  padding-top: 3px;
}

.header-area .app-bar .active-bar .ico-mylike {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.story-area {
  border-bottom: 1px solid #eee;
}

.story-bar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-bottom: 5px;
  padding-top: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.story-bar .story-each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  padding-right: 8px;
}

.story-bar .story-each .story-img-area {
  position: relative;
}

.story-bar .story-each .story-img-area .story-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.story-bar .story-each .story-img-area .story-bg.my-story {
  position: relative;
}

.story-bar .story-each .story-img-area .story-bg.my-story > .bi-plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid white;
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: #1e74ff;
}

.story-bar .story-each .story-img-area .story-bg.story-not-seen, .story-bar .story-each .story-img-area .story-bg.story-only-friends {
  width: 77px;
  height: 77px;
}

.story-bar .story-each .story-img-area .story-bg.story-not-seen {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc1888), color-stop(#cc2366), color-stop(#dc2743), color-stop(#e6683c), to(#f09433));
  background-image: linear-gradient(to bottom, #bc1888, #cc2366, #dc2743, #e6683c, #f09433);
}

.story-bar .story-each .story-img-area .story-bg.story-only-friends {
  background-color: #21e61a;
}

.story-bar .story-each .story-img-area .story-bg.story-seen {
  width: 75px;
  height: 75px;
  background-color: lightgray;
}

.story-bar .story-each .story-img-area .story-bg .story-img {
  border-radius: 100%;
  border: 4px solid white;
}

.story-bar .story-each .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px;
  width: 70px;
  font-size: 12px;
  color: black;
}

.story-bar .story-each .user-id > span {
  display: block;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-card {
  margin: 10px 0 20px 0;
}

.post-card:last-child {
  margin-bottom: 70px;
}

.post-card .post-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 10px;
}

.post-card .post-card-header .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-card .post-card-header .user-info > img {
  margin-right: 9px;
  border-radius: 50%;
}

.post-card .post-card-header .user-info .if-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 600;
}

.post-card .post-card-header .user-info .if-location .post-location {
  font-size: 11px;
  font-weight: 400;
}

.post-card .post-img {
  width: 100%;
  max-height: 2000px;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-card .post-like-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  font-size: 20px;
  -webkit-text-stroke: 0.4px;
}

.post-card .post-like-bar .post-ico {
  padding-right: 10px;
  font-weight: 700;
}

.post-card .post-like-bar .post-ico > .bi-suit-heart-fill {
  color: #f00f0f;
}

.post-card .post-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
  font-weight: 400;
  line-height: 20px;
}

.post-card .post-desc .bold {
  font-size: 15px;
  font-weight: 700;
}

.post-card .post-desc .post-desc-about,
.post-card .post-desc .post-desc-like-count {
  padding-bottom: 6px;
}

.post-card .post-desc .post-desc-about .user-id-in-desc,
.post-card .post-desc .post-desc-like-count .user-id-in-desc {
  font-size: 15px;
  font-weight: 700;
}

.post-card .post-desc .post-desc-about .more-text,
.post-card .post-desc .post-desc-like-count .more-text {
  color: var(--color-gray-300);
}

.post-card .post-desc .post-desc-comment,
.post-card .post-desc .post-date {
  color: var(--color-gray-300);
}

.post-card .post-desc .post-desc-comment {
  font-size: 14px;
  padding-bottom: 5px;
}

.post-card .post-desc .post-date {
  font-size: 12px;
}

.nav-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid var(--color-gray-100);
  background-color: #fff;
}

.nav-bar a {
  outline: none;
}

.nav-bar a i {
  font-size: 22px;
}

.nav-bar .reels-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  background-color: var(--color-white);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: var(--color-black);
}

.nav-bar-reels {
  background-color: var(--color-black);
}

.nav-bar-reels i {
  color: var(--color-white);
}

.search-app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin-top: 38px;
  padding: 10px 12px;
}

.search-app-bar .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: #eee;
}

.search-app-bar .search-form .bi-search {
  padding-left: 10px;
}

.search-app-bar .search-form .search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  background-color: inherit;
}

.search-app-bar .bi-geo-alt {
  margin: 0 10px;
  font-size: 22px;
}

.main-post {
  margin-bottom: 50px;
}

.main-post .right-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'a c e' 'b d e';
}

.main-post .middle-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'a c e' 'b d f';
}

.main-post .left-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'e a c' 'e b d';
}

.main-post .post-img-long {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-width: 214px;
  min-height: 428px;
}

.main-post .post-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 214px;
  height: 214px;
}

.main-post .a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
}

.main-post .b {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

.main-post .c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.main-post .d {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

.main-post .e {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: e;
}

.main-post .f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

body::-webkit-scrollbar {
  display: none;
}
