.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.too-wide {
  display: none;
}

@media screen and (min-width: 653px) {
  .too-wide {
    position: absolute;
    z-index: 9999;
    height: 1000vh;
    width: 100vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5e7dd8), color-stop(#c24a9c), color-stop(#c94a7d), color-stop(#e2586d), color-stop(#f59572), to(#f3af66));
    background-image: linear-gradient(to bottom, #5e7dd8, #c24a9c, #c94a7d, #e2586d, #f59572, #f3af66);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 23px;
    color: var(--color-white);
    top: 0;
  }
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

:root {
  --color-white: #fff;
  --color-black: black;
  --color-gray-100: #eee;
  --color-gray-200: lightgray;
  --color-gray-300: rgb(114, 111, 111);
  --color-blue-100: #1e74ff;
}

.status-bar.reels-header-area {
  background-color: black;
}

.vignette1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  z-index: 45;
}

.vignette2 {
  position: fixed;
  bottom: 51px;
  right: 0;
  left: 0;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 45;
}

.reels-box {
  position: absolute;
  top: 0;
  background-color: var(--color-gray-300);
}

.reels-box .reels-each {
  position: relative;
  min-height: 775px;
  width: 100vw;
  margin-bottom: 50px;
}

.reels-box .reels-each .video-box {
  width: 100vw;
  z-index: -1;
}

.reels-box .reels-each .video-box .video-itself-horizaltal,
.reels-box .reels-each .video-box .video-itself-vertical {
  position: absolute;
  width: 100vw;
  height: 97vh;
  left: 0;
  right: 0;
}

.reels-box .reels-each .video-box .video-itself-vertical {
  -o-object-fit: cover;
     object-fit: cover;
}

.reels-box .reels-each .reels-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100vw;
  bottom: 10px;
  color: var(--color-white);
}

.reels-box .reels-each .reels-detail .reels-detail-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 12px;
}

.reels-box .reels-each .reels-detail .reels-detail-desc > * {
  margin-bottom: 10px;
}

.reels-box .reels-each .reels-detail .reels-detail-desc .reels-post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reels-box .reels-each .reels-detail .reels-detail-desc .reels-post-header > * {
  margin-right: 10px;
}

.reels-box .reels-each .reels-detail .reels-detail-desc .reels-post-header > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reels-box .reels-each .reels-detail .reels-detail-desc .reels-post-header .reels-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid var(--color-white);
}

.reels-box .reels-each .reels-detail .reels-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.reels-box .reels-each .reels-detail .reels-active i {
  font-size: 24px;
  cursor: pointer;
}

.reels-box .reels-each .reels-detail .reels-active > *:not(:last-child) {
  margin-bottom: 20px;
}

.reels-box .reels-each .reels-detail .reels-active .reels-like,
.reels-box .reels-each .reels-detail .reels-active .reels-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reels-box .reels-each .reels-detail .reels-active .audio-info > img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid var(--color-white);
}

.header-area .status-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  z-index: 5000;
}

.header-area .status-bar .status-bar_left {
  margin-top: 15px;
  margin-left: 25px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-area .status-bar .status-bar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25px;
}

.header-area .status-bar .status-bar_right .ico-right {
  width: 100%;
  padding-left: 3px;
  font-size: large;
}

.header-area .status-bar .status-bar_right .ico-net {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header-area .status-bar .status-bar_right .ico-wifi {
  font-size: 25px;
}

.header-area .status-bar .status-bar_right .ico-battery {
  font-size: 25px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.header-area .app-bar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 20px 5px;
  background-color: var(--color-white);
  z-index: 4999;
}

.header-area .app-bar .header-title {
  font-size: 25px;
  font-weight: 700;
}

.header-area .app-bar .logo {
  font-family: 'Cookie', cursive, 'Noto Sans KR', sans-serif;
  font-size: 38px;
}

.header-area .app-bar .active-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  font-size: 22px;
  -webkit-text-stroke: 0.4px;
}

.header-area .app-bar .active-bar .ico-logo {
  padding-left: 25px;
  padding-top: 3px;
}

.header-area .app-bar .active-bar .ico-mylike {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.status-bar.reels-header-area,
.app-bar.reels-app-bar {
  background: none;
  color: var(--color-white);
}

.story-area {
  border-bottom: 1px solid var(--color-gray-100);
}

.story-bar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-bottom: 5px;
  padding-top: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.story-bar .story-each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  padding-right: 8px;
}

.story-bar .story-each .story-img-area {
  position: relative;
}

.story-bar .story-each .story-img-area .story-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.story-bar .story-each .story-img-area .story-bg.my-story {
  position: relative;
}

.story-bar .story-each .story-img-area .story-bg.my-story > .bi-plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid white;
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: var(--color-blue-100);
}

.story-bar .story-each .story-img-area .story-bg.story-not-seen, .story-bar .story-each .story-img-area .story-bg.story-only-friends {
  width: 77px;
  height: 77px;
}

.story-bar .story-each .story-img-area .story-bg.story-not-seen {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc1888), color-stop(#cc2366), color-stop(#dc2743), color-stop(#e6683c), to(#f09433));
  background-image: linear-gradient(to bottom, #bc1888, #cc2366, #dc2743, #e6683c, #f09433);
}

.story-bar .story-each .story-img-area .story-bg.story-only-friends {
  background-color: #21e61a;
}

.story-bar .story-each .story-img-area .story-bg.story-seen {
  width: 75px;
  height: 75px;
  background-color: lightgray;
}

.story-bar .story-each .story-img-area .story-bg .story-img {
  border-radius: 100%;
  border: 4px solid white;
}

.story-bar .story-each .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px;
  width: 70px;
  font-size: 12px;
  color: black;
}

.story-bar .story-each .user-id > span {
  display: block;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-card {
  margin: 10px 0 20px 0;
}

.post-card:last-child {
  margin-bottom: 70px;
}

.post-card .post-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 10px;
}

.post-card .post-card-header .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-card .post-card-header .user-info > img {
  margin-right: 9px;
  border-radius: 50%;
}

.post-card .post-card-header .user-info .if-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 600;
}

.post-card .post-card-header .user-info .if-location .post-location {
  font-size: 11px;
  font-weight: 400;
}

.post-card .post-img {
  width: 100%;
  max-height: 2000px;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-card .post-like-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  font-size: 20px;
  -webkit-text-stroke: 0.4px;
}

.post-card .post-like-bar .post-ico {
  padding-right: 10px;
  font-weight: 700;
}

.post-card .post-like-bar .post-ico > .bi-suit-heart-fill {
  color: #f00f0f;
}

.post-card .post-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
  font-weight: 400;
  line-height: 20px;
}

.post-card .post-desc .bold {
  font-size: 15px;
  font-weight: 700;
}

.post-card .post-desc .post-desc-about,
.post-card .post-desc .post-desc-like-count {
  padding-bottom: 6px;
}

.post-card .post-desc .post-desc-about .user-id-in-desc,
.post-card .post-desc .post-desc-like-count .user-id-in-desc {
  font-size: 15px;
  font-weight: 700;
}

.post-card .post-desc .post-desc-about .more-text,
.post-card .post-desc .post-desc-like-count .more-text {
  color: var(--color-gray-300);
}

.post-card .post-desc .post-desc-comment,
.post-card .post-desc .post-date {
  color: var(--color-gray-300);
}

.post-card .post-desc .post-desc-comment {
  font-size: 14px;
  padding-bottom: 5px;
}

.post-card .post-desc .post-date {
  font-size: 12px;
}

.nav-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid var(--color-gray-100);
  background-color: #fff;
  z-index: 9998;
}

.nav-bar a {
  outline: none;
}

.nav-bar a i {
  font-size: 22px;
}

.nav-bar .reels-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  background-color: var(--color-white);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: var(--color-black);
}

.nav-bar-reels {
  background-color: var(--color-black);
  border-top: 1px solid #000;
}

.nav-bar-reels i {
  color: var(--color-white);
}

.search-app-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin-top: 36px;
  padding: 10px 12px;
}

.search-app-bar .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: #eee;
}

.search-app-bar .search-form .bi-search {
  padding-left: 10px;
}

.search-app-bar .search-form .search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  background-color: inherit;
}

.search-app-bar .bi-geo-alt {
  margin: 0 10px;
  font-size: 22px;
}

.main-post {
  margin-bottom: 50px;
}

.main-post .right-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'a c e' 'b d e';
}

.main-post .middle-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'a c e' 'b d f';
}

.main-post .left-post {
  margin-bottom: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2px;
      grid-template-areas: 'e a c' 'e b d';
}

.main-post .post-img-long:hover,
.main-post .post-img:hover {
  -webkit-transform: scale(10px);
          transform: scale(10px);
}

.main-post .post-img-long {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-width: 214px;
  min-height: 428px;
}

.main-post .post-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 214px;
  height: 214px;
}

.main-post .a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
}

.main-post .b {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

.main-post .c {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.main-post .d {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

.main-post .e {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: e;
}

.main-post .f {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

.bi-list {
  font-size: 24px;
}

.ico-wishlist {
  padding-right: 30px;
}

.shop-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 56px;
}

.shop-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 10px;
}

.shop-category .shop-category-each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 30px;
  padding: 3px 15px;
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--color-gray-100);
}

.main-shop {
  margin-bottom: 50px;
}

.main-shop .shop-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-shop .shop-area .shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
  width: 100%;
}

.main-shop .shop-area .shop-item:first-child {
  margin-right: 1px;
}

.main-shop .shop-area .shop-item > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.main-shop .shop-visit-again .visit-again-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 12px 12px;
}

.main-shop .shop-visit-again .visit-again-header .visit-again-title {
  font-size: 16px;
  font-weight: 600;
}

.main-shop .shop-visit-again .visit-again-header span:last-child {
  font-weight: 400;
}

.main-shop .shop-visit-again .visit-again-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 20px;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item {
  position: relative;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-item-img-area {
  position: relative;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-item-img-area::after {
  position: absolute;
  content: '';
  display: block;
  width: 202px;
  height: 202px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 -20px 65px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 -20px 65px rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-item-img-area .visit-again-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  margin-right: 5px;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-item-img-area .visit-again-profile {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  z-index: 99;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-info {
  position: absolute;
  color: var(--color-white);
  bottom: 20px;
  left: 10px;
  font-size: 13px;
  z-index: 2;
}

.main-shop .shop-visit-again .visit-again-area .visit-again-item .visit-again-info > span {
  font-size: 15px;
  font-weight: 700;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title > .bi {
  font-size: 14px;
}

.header-title > .bi.bi-lock {
  -webkit-text-stroke: 0.4px;
}

.header-title .profile-header-title {
  margin: 0 5px;
}

.bi-list {
  font-size: 24px;
}

.ico-profile.ico-post {
  margin-right: 30px;
}

main {
  margin-top: 92px;
  margin-bottom: 50px;
  letter-spacing: -0.3px;
}

main .prf-info {
  padding: 0 12px;
}

main .prf-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .prf-base .prf-img {
  position: relative;
}

main .prf-base .prf-img > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

main .prf-base .prf-img .bi-plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2px;
  left: 65px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: var(--color-blue-100);
  -webkit-text-stroke: 0.4px;
}

main .prf-base .prf-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67%;
}

main .prf-base .prf-follow .prf-post-count,
main .prf-base .prf-follow .prf-follower,
main .prf-base .prf-follow .prf-following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

main .prf-base .prf-follow .prf-post-count > span,
main .prf-base .prf-follow .prf-follower > span,
main .prf-base .prf-follow .prf-following > span {
  font-weight: 600;
}

main .prf-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}

main .prf-desc > span:first-child {
  font-weight: 600;
}

main .prf-edit-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .prf-edit-add .prf-edit,
main .prf-edit-add .bi-person-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  margin-right: 5px;
  border: 1px solid var(--color-gray-200);
  border-radius: 5px;
}

main .prf-edit-add .prf-edit {
  width: 90%;
}

main .prf-edit-add .bi-person-plus {
  width: 30px;
  font-size: 22px;
}

main .prf-highlight-title {
  padding: 20px 0;
}

main .prf-highlight-title .highlight-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

main .prf-highlight-title .highlight-desc .highlight-desc-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .prf-highlight-title .highlight-desc .highlight-desc-txt > span {
  font-weight: 600;
}

main .prf-highlight-title .highlight-desc .bi-chevron-up {
  font-size: 10px;
}

main .highlight-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main .highlight-stories .highlight-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .highlight-stories .highlight-new .bi-plus-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  font-size: 25px;
}

main .highlight-stories .highlight-new .bi-plus-lg + span {
  margin-top: 5px;
  font-size: 12px;
}

main .highlight-stories .highlight-story {
  margin-left: 15px;
}

main .highlight-stories .highlight-story > img {
  border-radius: 50%;
}

main .prf-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .prf-tab .bi-grid-3x3,
main .prf-tab .bi-person-rolodex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 30px;
  font-size: 20px;
  border-bottom: 1px solid var(--color-gray-100);
}

main .prf-tab .bi-grid-3x3 {
  border-bottom: 1px solid var(--color-black);
}

main .prf-tab .bi-person-rolodex {
  color: var(--color-gray-300);
}

main .prf-main-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'one two three';
  grid-gap: 1px;
}

main .prf-main-post .prf-post {
  position: relative;
  height: 170px;
}

main .prf-main-post .prf-post .one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

main .prf-main-post .prf-post .two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

main .prf-main-post .prf-post .three {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
}

main .prf-main-post .prf-post > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

main .prf-main-post .prf-post > .bi {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--color-white);
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
