.status-bar.reels-header-area {
  // color: var(--color-white);
  // background-image: linear-gradient(tobottom, black, white);
  background-color: black;
}

.vignette1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.vignette2 {
  position: absolute;
  bottom: $nav-bar-height + 1px;
  right: 0;
  left: 0;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.reels-box {
  & > img {
    width: 100%;
    height: 100%;
  }
}
