:root {
  --color-white: #fff;
  --color-black: black;
  --color-gray-100: #eee;
  --color-gray-200: lightgray;
  --color-gray-300: rgb(114, 111, 111);
}

$status-bar-height: 36px;
$app-bar-height: 52px;
$main-inner: 12px;
$nav-bar-height: 50px;
$search-form-width: 430px;
$ico-normal-size: 22px;
